* {
    box-sizing: border-box;
    font-family: "Abril Fatface"
}

body {
    padding: 0;
    margin: 0;
    background: #11c0ab;
}

button {
  padding: 2%;
  margin: 5%;
  border-radius: 100%;
  background: black;
  color: white

}

button:hover{
  background: silver;
  color: black;
}

img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  border: 30%;
  border-radius: 50%;
}